@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bolsa de Empleo</h1>
    <div class="main-menu">

        <a asp-controller="Jobs" asp-action="Index" class="btn btn-primary">View Job Offers</a>
        <a asp-controller="Jobs" asp-action="Create" class="btn btn-primary">Create a Job Offer</a>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-success">List Employees</a>
        <a asp-controller="Employees" asp-action="Create" class="btn btn-success">Register a new Employ</a>
    </div>
</div>
